main{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#frmRegistro{
    border: 1px solid black;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

h2{
    text-align: center;
}

#frmRegistro label{
    display: inline-table;
    width: 40%;
}

#frmRegistro select{
    width: 50%;
}
#frmRegistro input{
    width: 48%;
    text-align: center;
}
.botones{
    text-align: center;
}

#tblVentas{
    width: 50%;
    border: 1px solid blue;
    margin-left: auto;
    margin-right: auto;
}

#tblVentas th{
    padding: 5px;
}

.center-align {
    text-align: center;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.titulotabla{
    border: 1px solid blue;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}